<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.core.interfaces" publicKeyToken="96D09A1EB7F44A77" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.6.2.12296" newVersion="2.6.2.12296"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
